@use '../../colors' as colors;

.main-header {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: colors.$second-color;
    width: 300px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    color: colors.$main-font;
    font-family: "Tenor Sans";
    h1 {
        margin: 0;
        font-weight: 600;
        font-size: 28px;
    }
    .circle {
        background-color: colors.$second-color;
        border-radius: 50%;
        height: 46px;
        width: 46px;
        margin-right: -23px;
    }
}